.gulacsi_ecommsolvers_videowidget {
    position: relative;
    width: 100%;
    /* aspect-ratio: 16 / 9; -> not supported by older browser versions */
    padding-top: 56.25%;
}

.gulacsi_ecommsolvers_videowidget > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
