.page-header {
    .header.links {
        display: flex !important;
        width: 100%;
        justify-content: space-between;

        li.greet.welcome {
            width: 50%;
        }
        li.link.authorization-link {
            margin-left: auto;
        }
    }


    @media only screen and (max-width: 768px) {
        .minicart-wrapper {
            margin-top: 0;
        }
    }

    @media only screen and (max-width: 768px) {
        .logo {
            margin-bottom: 8px;
            margin-top: -14px;
        }
    }




}


.nav-sections {
    .nav-sections-items {
        .nav-sections-item-content {
            .navigation {
                background-color: @accent-light;

            }
        }
    }
}
