<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Gulacsi_Commercebug::commerce_bug_logs"
             title="Commerce Bug Logs"
             module="Gulacsi_Commercebug"
             sortOrder="30"
             parent="Magento_Backend::system_other_settings"
             action="adminhtml/pulsestorm_commercebug/index/"
             dependsOnModule="Gulacsi_Commercebug"
             resource="Gulacsi_Commercebug::admin_log_menu"/>
    </menu>
</config>
