<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ecommsolvers_settings" translate="label" sortOrder="110">
            <label>Ecommsolvers</label>
        </tab>
        <section id="section_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Cart</label>
            <tab>ecommsolvers_settings</tab>
            <resource>Gulacsi_EcommsolversCart::ecommsolvers_configuration</resource>
            <group id="ecommsolvers_settings_group_cart" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cart content download</label>
                <attribute type="expanded">1</attribute>
                <field id="field_id" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable to download the cart items in CSV for the customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
