/*
.action {
    &.primary {
        background-color: mediumpurple;
        border-color: mediumpurple;
    }
}

.block-promo {
    .action.more.button {
        background-color: green;
        border-color: mediumpurple;
    }
}
*/

